<tr id="bookmark_<%= bookmark.id %>">
    <td><%= bookmark.category %></td>
    
    <td><%= link_to 'Editar', edit_bookmark_path(bookmark) %></td>
    <td><%= link_to 'Borrar', bookmark, method: :delete, remote: true, data: { confirm: 'Are you sure?' } %></td>

    
</tr>
  



        