<tr id="bookmark <%= bookmark.id %>">
    <td><%= bookmark.category %></td>
    <td><%= link_to 'Edit', edit_bookmark_path(bookmark) %></td>
    <td><%= link_to 'Destroy', bookmark, method: :delete, remote: true, data: { confirm: 'Are you sure?' } %></td>
</tr>
  



        